<!DOCTYPE html>
<html>

<body>
    <meta charset="utf-8">
    <title>v-if-else-else-if</title>
    <script src="https://unpkg.com/vue"></script>
</body>
<div id="account">
    잔고 : <input type="text" v-model="balance" />
    <br /> 회원님의 등급 :
    <span v-if="balance >= 1000000">GOLD</span>
    <span v-else-if="balance >= 500000">Silver</span>
    <span v-else-if="balance >= 200000">Bronze</span>
    <span v-else>Basic</span>
</div>
<script type="text/javascript">
    var model = {
        balance: 0
    };
    var simple1 = new Vue({
        el: '#account',
        data: model
    })
</script>


</html>